---
name: dashboard
controller: DashboardCtrl
url: /dashboard
---
    <div class="">
        <h1>Welcome</h1>
    </div>

<div>
  <h2>My Information</h2>
  <a ui-sref="personalParentManage">
    <h4>Personal</h4>
    <p>Edit your personal information, health care providers, employer information.</p>
  </a>
  <a ui-sref="financialInformation">
    <h4>Financial</h4>
    <p>Lorem ipsum dolor sit amet, other short description goes here.</p>
  </a>
  <a>
    <h4>Family</h4>
    <p>Lorem ipsum dolor sit amet, other short description here.</p>
  </a>
  <a>
    <h4>Advisors &amp; Contacts</h4>
    <p>Lorem ipsum dolor sit amet, other short description goes here.</p>
  </a>
  <a>
    <h4>Documents &amp; Accounts</h4>
    <p>Lorem ipsum dolor sit amet, other short description here.</p>
  </a>
  <a ui-sref="finalArrangements">
    <h4>Final Arrangements</h4>
    <p>Lorem ipsum dolor sit amet, other short description goes here.</p>
  </a>
  <a>
    <h4>Pets</h4>
    <p>Lorem ipsum dolor sit amet, other short description here.</p>
  </a>
  <a>
    <h4>Veteran's Benefits</h4>
    <p>Lorem ipsum dolor sit amet, other short description goes here.</p>
  </a>
</div>
