---
name: passwordReset
controller: PasswordResetCtrl
url: /passwordReset
---

<div class="grid-container align-center small-12 medium-6 large-6">
    <div class="grid-content">
        <form ng-submit="submitPasswordReset()" class="border">
            <h1>Password Reset</h1>
            <p>Enter the email address associated with your account to receive password reset instructions.</p>
            <label>
                <input type="text" placeholder="your email address" ng-model="passwordReset" autofocus>
            </label>

            <input type="submit" value="Reset my password" class="expand button"/>
        </form>
    </div>
</div>